@keyframes image1breathing-glow {
    0% {
        filter: drop-shadow(1px 3px 50px rgb(139, 0, 0));
    }
    50% {
        filter: drop-shadow(1px 3px 40px rgb(255, 255, 255));
    }
    100% {
        filter: drop-shadow(1px 3px 50px rgb(139, 0, 0));
    }
}

@keyframes image2breathing-glow {
    0% {
        filter: drop-shadow(1px 3px 50px rgb(17, 17, 17));
    }
    25% {
        filter: drop-shadow(1px 3px 50px rgb(139, 1, 1));
    }
    50% {
        filter: drop-shadow(1px 3px 40px rgb(255, 255, 255));
    }
    75% {
        filter: drop-shadow(1px 3px 50px rgb(17, 17, 17));
    }
    100% {
        filter: drop-shadow(1px 3px 50px rgb(139, 1, 1));
    }
}

@keyframes image3breathing-glow {
    0% {
        filter: drop-shadow(1px 3px 50px rgb(255, 165, 0));
    }
    50% {
        filter: drop-shadow(1px 3px 40px rgb(255, 255, 255));
    }
    100% {
        filter: drop-shadow(1px 3px 50px rgb(255, 165, 0));
    }
}




